<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083220714530-vmuucpennjpsdql2lph7e1ahblmkr1ld.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083220714530-vmuucpennjpsdql2lph7e1ahblmkr1ld</string>
	<key>API_KEY</key>
	<string>AIzaSyA_fvnwtOdt5QpFzBD90XXiIMt0S6F3Ixw</string>
	<key>GCM_SENDER_ID</key>
	<string>1083220714530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.TaskMenagerFinal</string>
	<key>PROJECT_ID</key>
	<string>taskmenagerfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmenagerfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083220714530:ios:057a80594effaba34c167b</string>
</dict>
</plist>